.form-submit-button {

background:#808080;
size: 20px

color: #fff;
width: 100px;

border: 1px solid #eee;

border-radius: 10px;

box-shadow: 5px 5px 5px #eee;

text-shadow:none;

}

.form-submit-button:hover {

background: #272822;
size:20px;
color: #fff;
width: 100px;
border: 1px solid #eee;

border-radius: 10px;

box-shadow: 5px 5px 5px #eee;

text-shadow:none;
}

